/Pr2/Pr2IC/nbproject/private/
/Pr2/PrsIC2/nbproject/private/
/Pr2/PrsIC2/build/
/Pr2/PrsIC2/dist/
/Pr3/Pr3IC/nbproject/private/
/Pr3/PrIU3.1/nbproject/private/
/Pr3/PrIU3.1/build/
/Pr3/PrIU3.2/nbproject/private/
/Pr3/PrIU3.2/build/
/Pr3/PrIU3.2/dist/
/Pr3/Pr3IC/build/